{% extends "blog/base.html" %}
{% load blog_extras comments %}

{% block title %}
{{ post.title }} - {{ site_info.name }}
{% endblock %}

{% block main %}
<article>
  <h2><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h2>
  <div class="meta">最后修改于 {{ post.modified }}</div>
  {{ post.text|markdown }}
  <div class="tag">
    <nav>
      {% for tag in post.tag.all %}
      <a href="{% url 'tag_post' tag.slug %}">{{ tag.name }}</a>
      {% endfor %}
    </nav>
  </div>
</article>
<div class="comments">
  {% render_comment_list for post %}
  {% render_comment_form for post %}
</div>
{% endblock %}